{{#if error}}
    <p class="alert alert-danger">
        <b>Error:</b>  {{error}}.
    </p>
{{/if}}

{{#if warning}}
    <p class="alert alert-warning">
        <b>Oops!</b>  {{warning}}.
    </p>
{{/if}}

{{#if info}}
    <p class="alert alert-info">
        <b>Info:</b>  {{info}}.
    </p>
{{/if}}

{{#if success}}
    <p class="alert alert-success">
        <b>Nice!</b>  {{success}}.
    </p>
{{/if}}